<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.address_line1 %}
    <div class="call-address">
      <a href="{{ site.data.contact.address_link | default: '#' }}" target="_blank" rel="noopener">
        {% if site.data.contact.address_name %}<span class="call-address-name">{{ site.data.contact.address_name }}</span><br>{% endif %}
        {{ site.data.contact.address_line1 }}<br>
        {{ site.data.contact.address_city }}, {{ site.data.contact.address_state }} {{ site.data.contact.address_zip }}
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email">
      <a href="mailto:{{ site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom d-md-none">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Get in touch</a>
      </div>
    {% endif %}
</div>
