.page-service {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}

.page-services {
  .service-summary {
    border-bottom: 1px solid rgba($steel, 0.15);
    &:last-of-type {
      border-bottom: 0;
    }
    .service-title {
      font-size: 24px;
      margin-bottom: 12px;
      a {
        color: $black;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
