.breadcrumbs {
  margin-bottom: 20px;
  ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.85rem;
    color: $steel;
  }
  li {
    display: flex;
    align-items: center;
    &:not(:last-child)::after {
      content: "/";
      margin: 0 8px;
      color: rgba($steel, 0.5);
    }
  }
  a {
    color: $steel;
    &:hover {
      color: $primary;
    }
  }
  [aria-current="page"] {
    color: $black;
  }
}
