#faq {
  .faq-item {
    &:last-child {
      margin-bottom: 0;
    }
  }
  .faq-question {
    font-size: 18px;
    margin-bottom: 0;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: baseline;
  }
  .faq-icon {
    flex: 0 0 auto;
    margin-right: 12px;
    width: 0.9em;
    text-align: center;
  }
  .faq-answer {
    font-size: 0.95rem;
    line-height: 1.56;
    color: $steel;
    margin-bottom: 0;
    margin-top: 10px;
    display: none;
  }
  .faq-item.open .faq-answer {
    display: block;
  }
  .faq-item.open .faq-icon {
    transform: rotate(45deg);
  }
}
