.hamburger {
  padding: 10px 0 10px 10px;
  outline: none;
  z-index: 30;
  cursor: pointer;
  @include media-breakpoint-up(md) {
    display: none;
  }
  &:focus {
    outline: none;
  }
  .hamburger-inner {
    background: $primary;
    transition: transform 0.15s ease, background-color 0.35s ease;
  }
  .hamburger-inner::before {
    background: $primary;
    transition: transform 0.15s ease, opacity 0.15s ease, background-color 0.35s ease;
  }
  .hamburger-inner::after {
    background: $primary;
    width: 18px;
    right: 0;
    transition: transform 0.15s ease, background-color 0.35s ease;
  }
  &.is-active {
    .hamburger-inner::after {
      width: inherit;
      right: unset;
    }
  }
}
