<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">

<head>
  <meta charset="utf-8">
  {% include head-meta.html %}
  {% include schema.html %}
</head>

<body class='page {{layout.bodyClass}}'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  {% include sub-footer.html %}
  <script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
  {% include google-analytics.html %}
</body>
</html>
